.body{
	display: grid;
	grid-template: 1fr 2fr 1fr/2fr 1fr 2fr;
}
.board{
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	grid-template: 20px repeat(3,100px) 20px/20px repeat(3,100px) 20px;
	grid-gap: 6px;
}

#\30{
	grid-column: 2/3;
	grid-row: 2/3;
}
#\31{
	grid-column: 3/4;
	grid-row: 2/3;
}
#\32{
	grid-column: 4/5;
	grid-row: 2/3;
}
#\33{
	grid-column: 2/3;
	grid-row: 3/4;
}
#\34{
	grid-column: 3/4;
	grid-row: 3/4;
}
#\35{
	grid-column: 4/5;
	grid-row: 3/4;
}
#\36{
	grid-column: 2/3;
	grid-row: 4/5;
}
#\37{
	grid-column: 3/4;
	grid-row: 4/5;
}
#\38{
	grid-column: 4/5;
	grid-row: 4/5;
}
.modalBody{
	display: grid;
	grid-template: 100px/100px 100px;
	grid-gap: 80px;
	justify-content: center;
}
#cross{
	grid-column: 1/2;
}
#cricle{
	grid-column: 3/4;
}
