:root{
	--back1:#fff;
	--back2:#fff;
	}

.body{
	background-color: #7effd4;
}
.board{
	justify-content: center;
	align-content: center;
	background-color: white;
	border-radius: 31px;
	box-shadow: 0px 0px 40px rgba(33,62,83,0.3) inset , 0 0 33px #486685;
 	-moz-box-shadow: 0px 0px 40px rgba(33,62,83,0.3) inset, 0px 0px 33px #486685;
 	-webkit-box-shadow: 0px 0px 40px rgba(33,62,83,0.3) inset, 0px 0px 33px #486685;

}

.slot{
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: #b3b3b3;
	box-shadow: inset 0px 0px 11px #595959;
	-moz-box-shadow: inset 0px 0px 11px #595959;
 	-webkit-box-shadow: inset 0px 0px 11px #595959;
}
.usedSlot1{
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: var(--back1);
	box-shadow: 0px 0px 7px #262626;
	-moz-box-shadow: 0px 0px 7px #262626;
	-webkit-box-shadow: 0px 0px 7px #262626;
}
.usedSlot2{
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: var(--back2);
	box-shadow: 0px 0px 7px #262626;
	-moz-box-shadow: 0px 0px 7px #262626;
	-webkit-box-shadow: 0px 0px 7px #262626;
}
.modal{
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modalHeader{
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}
.modalBody{
	padding: 2px 16px;
}
.modalContent{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}
.cross{
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: #ff3333;
	box-shadow: 0px 0px 7px #262626;
	-moz-box-shadow: 0px 0px 7px #262626;
	-webkit-box-shadow: 0px 0px 7px #262626;
}
.circle{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background-color: #0073e6;
	box-shadow: 0px 0px 7px #262626;
	-moz-box-shadow: 0px 0px 7px #262626;
	-webkit-box-shadow: 0px 0px 7px #262626;
}

.slot:hover,
.slot:focus,
.cross:hover,
.cross:focus,
.circle:hover,
.circle:focus{
	cursor: pointer;
}
